asg4emptyshell/stockserviceconsumer/service references/localhost/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGraphData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraphData" nillable="true" type="tns:GraphData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraphData" nillable="true" type="tns:ArrayOfGraphData" />
  <xs:complexType name="GraphData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraphData" nillable="true" type="tns:GraphData" />
</xs:schema>